---
permalink: /404.html
---

<!doctype html>
<html lang="en" class="mocha">
  {% include head.html %}

  <body
    class="flex flex-col min-h-screen max-w-3xl p-4 mx-auto bg-ctp-base text-ctp-text leading-relaxed"
  >
    <main class="py-8 grow items-center justify-center flex">
      <div class="text-center py-12 max-w-2xl mx-auto">
        <h1 class="text-6xl font-bold text-ctp-lavender mb-8 tracking-tight">
          404
        </h1>
        <p class="text-xl font-semibold text-ctp-lavender mb-4">
          Page not found :(
        </p>
        <p class="text-ctp-overlay1 mb-8">
          The requested page could not be found.
        </p>
        <a
          href="{{ '/' | relative_url }}"
          class="text-ctp-blue hover:text-ctp-sapphire hover:underline"
        >
          ← Back to home
        </a>
      </div>
    </main>

    {% include_cached footer.html %}
  </body>
</html>
