<header>
  <a class="relative inline-block my-4" href="{{ '/' | relative_url }}">
    <p class="font-semibold text-ctp-peach text-4xl">Resi Dwi Thawasa</p>
  </a>
  <nav class="flex md:justify-between gap-4 font-bold">
    <div class="flex items-center gap-4">
      {% assign nav_links = "Home:/|About:/about|Posts:/posts|TIL:/til|Tags:/tags" | split: "|" %}
      {% for entry in nav_links %}
        {% assign parts = entry | split: ":" %}
        <a
          href="{{ parts[1] | relative_url }}"
          class="text-ctp-blue hover:text-ctp-sapphire hover:underline hover:underline-offset-4"
        >
          {{ parts[0] }}
        </a>
      {% endfor %}
      {% if site.show_projects %}
      <a
        href="{{ '/projects' | relative_url }}"
        class="text-ctp-blue hover:text-ctp-sapphire hover:underline hover:underline-offset-4"
      >
        Projects
      </a>
      {% endif %}
    </div>
    <button
      id="search-toggle"
      type="button"
      class="text-ctp-blue hover:text-ctp-sapphire hover:underline hover:underline-offset-4"
    >
      Search
    </button>
  </nav>
</header>
